{% extends '@VinilShop/admin_layout.html.twig' %}
{% block body %}

    <h3>Добрый день.</h3>
    Хотим принести извинения за то, что возложили бремя “менеджера” на Ваши плечи.<br>
    Мы понимаем, что менеджер - это отдельный человек и отдельное меню.<br>
    Потерпите еще немного.<br>
    Хороших дне и приятных ночей.

{% endblock %}
