{% extends '@VinilShop/layout.html.twig' %}



{% block body %}

    <h2><i class="fas font-20pt fa-truck"></i> Доставка</h2>
    <div class="font-12pt" style="width: 90%">
        Оплата осуществляется при получении заказа в отделении "Новой почты".
        <br>
        <br>
        Клиент оплачивает доставку в полном объеме.
        Филиалы КС "Новой почты" можно посмотреть <a href="https://novaposhta.ua/"  target="_blank" >здесь<i class="fas fa-arrow-right" style="font-size: 12px"></i></a>
    </div>


{% endblock %}

