{% extends '@VinilShop/layout.html.twig' %}



{% block body %}

    <h2><i class="fas font-20pt fa-info-circle"></i> О магазине</h2>
    <div class="font-12pt" style="width: 90%">
        &#160;&#160;&#160;Заход на посадку — один из заключительных этапов полета воздушного судна, непосредственно предшествующий посадке.
        Обеспечивает выведение воздушного судна на траекторию, которая является предпосадочной прямой, ведущей к точке приземления.
        <br>
        <br>
        &#160;&#160;&#160;Заход на посадку может осуществляться как с использованием радионавигационного оборудования
        (и называется в таком случае заходом на посадку по приборам),
        так и визуально, при котором ориентирование осуществляется экипажем по естественной линии горизонта, наблюдаемой ВПП и другим ориентирам на местности.
        В последнем случае заход может называться визуальным (ВЗП), если является продолжением полета по ППП (правила полётов по приборам) или заходом ПВП,
        если является продолжением полета по ПВП (правила визуальных полётов).
        <br>
        <br>
        &#160;&#160;&#160;Заход на посадку по приборам осуществляется экипажем воздушного судна с использованием бортового радионавигационного оборудования
        (или аэродромного радионавигационного оборудования).
        Основной задачей захода на посадку по приборам является обеспечение безопасности посадки в метеорологических условиях,
        не обеспечивающих безопасного визуального захода. Несмотря на то, что визуальный заход является более экономичным с точки зрения расхода топлива,
        его выбор остается на усмотрение экипажа и службы организации воздушного движения, которые могут руководствоваться не только соответствием текущей
        погоды метеоминимумам, но и требованиям обеспечения одновременного безопасного захода нескольких воздушных судов, то есть обеспечения требований эшелонирования.
        <br>
        <br>
        &#160;&#160;&#160;Заходы на посадку по приборам могут быть выполнены с использованием различных наборов радионавигационного оборудования.
        Они подразделяются на точные и неточные.

    </div>


{% endblock %}

