{% extends '@VinilShop/layout.html.twig' %}



{% block body %}

    <h2><i class="fas font-20pt fa-dollar-sign"></i> Оплата </h2>
    <div class="font-12pt" style="width: 90%">
        &#160;&#160;&#160;Малый суслик один из самых мелких видов сусликов.
        Длина его тела 19—24 см; вес до 460 г. Он короткохвостый — длина хвоста меньше 4 см (16—20 % от длины тела).
        Окраска спины — от землисто-серой (север ареала и горы) до серо-палево-желтоватой (юг ареала).
        На спине заметна пятнистость в виде мелких желтоватых крапинок или ряби. Верх головы часто заметно темнее спины, более охристого тона.
        Пятна на щеках выражены слабо. Брюшко сероватое, горло белёсое. Бока и область конечностей тускло-серые с примесью жёлтого.
        Описаны до 9—10 подвидов, отличающихся окраской и размерами; к востоку и югу размеры уменьшаются, хвост становится короче.
        <br>
        <br>
        &#160;&#160;&#160;Малый суслик распространён в равнинных и низкогорных степях и полупустынях Приднепровья, Предкавказья,
        Нижнего Поволжья, на восток до пустыни Бетпак-Дала.
        На западе малый суслик не встречается дальше Днепра.
        Северная граница ареала проходит от низовий Днепра по рекам Ворскла и Коломак, по Северскому Донцу опускается до 49° с.ш. (г. Изюм),
        пересекает Дон, поворачивает на северо-восток и выходит к Волге у г. Энгельс.
        По левобережью Волги граница поднимается до 53° с.ш., поворачивает на юго-восток, по берегу реки Самары выходит к реке Урал,
        левобережьем которой опять достигает 53° с.ш. (г. Троицк). Далее граница заходит в Казахстан: поворачивает на юго-восток, выходит к Астане, а оттуда — к озеру Зайсан.
        Южная граница ареала от Днепра проходит по побережью Чёрного (включая Крым) и Азовского морей, северокавказским степям, северному побережью
        Каспийского моря, оттуда идёт по плато Устюрт вдоль 44° с.ш., огибает с севера Аральское море и спускается по Сырдарье до низовий Сарысу.
        <br>
    </div>


{% endblock %}

