{% extends '@VinilShop/admin_layout.html.twig' %}
{% block body %}

    {% import _self as macros %}
    <ul class="main-menu">
        {{ macros.tree(categores)  }}
    </ul>

{% endblock %}

{% macro tree(categores) %}
    {% for category in categores %}
        <li>
            <a href="#" style="font-size: 14pt">{{ category.name }}</a>
            <a href="{{ path('edit_category', {id: category.id}) }}" type="button" class="btn btn-warning btn-sm">Редактировать</a>
            {% if category.children %}
                <ul>
                    {{ _self.tree(category.children) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}