{% extends '@VinilShop/admin_layout.html.twig' %}

        {% block titleMenu %}
            Сообщение
        {% endblock %}
{% block body %}

    <div class="container">

        <div>
            {{ feedback.name }}
        </div>

        <div>
            {{ feedback.email }}
        </div>
        <hr class="border-primary">
        <div>
            <div class="float-left margin-top7px" >
                Тема :
            </div>
            <h5>&#160;{{ feedback.title }}</h5>
        </div>
        <br>
        <div>
            Сообщение:
        </div>
        <div class="text-white font-15pt">
            {{ feedback.message }}
        </div>
    </div>




{% endblock %}


